<h2><%=drink.name%></h2>
// if the image links were broken (they aren't): you could fix this way:
      <img src="<%=(drink.image).slice(0,-3) +"png"%>">
      <h3> Price: <%=drink.price%></h3>
  
      <a href="/drinks">Back to Index</a>