<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GitPub App</title>
  </head>
  <body>
    <h1>Drinks show page</h1>
    Drink: <%= drink.name %> <br>
    Price: $<%= drink.price %> <br>
    <img src= "<%= drink.image %>">
    <br>
    <a href="/drinks">Back to Index</a>
  </body>
</html>